# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/
# And all the file types you're interested in.
!*.m
!*.mod
!*.gitignore
program/winberry_test/auxiliary_functions/dynare/firstOrderDynamics_polynomials*.*
!program/winberry_test/auxiliary_functions/dynare/firstOrderDynamics_polynomials.mod
!program/winberry_test/auxiliary_functions/dynare/firstOrderDynamics_polynomials_steadystate.m
