# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/
# And all the file types you're interested in.
!*.m
!*.mod
!*.gitignore
program/winberry_test/Auxiliary Functions/plot_integrand.m
